.resume-wrapper {
    border: 1px solid grey;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    width: 960px;
    min-height: calc(100vh);
}

.additional-info {
    min-height: calc(50vh);
}

@media (max-width: 1000px) {
    .resume-wrapper {
        max-width: 100%;
    }
}

