.project-card {
    border-radius: 0;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 20px lightgrey;

}

.project-card:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
    box-shadow: 10px 20px 40px grey;
}

a.project-card.thumbnail {
    text-decoration: none;
}

div.caption p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
}

.project-card {
    padding: 20px;
}